
.icon-info:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */